
.header{
    display:flex;
    justify-content:center;
    background-color: white;
    padding:10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px;
}
ul {
    list-style: none; 
   }
.my-link{
    padding :10px;
    cursor:pointer;
    list-style: none;
  }