.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(15, 15, 15);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100; 
  }
  
  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
  .slide{
    display:none;
  }
  .box{
   display:grid;
   grid-template-columns: 1fr 1fr;
   height: 100%;
   align-items: center;
   padding: 10px;
   justify-items: center;
   background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  .box img{
    width:70%;
    height:70%;
    border-radius: 10px;
  }
  .box h1{
    color: antiquewhite;
  }
  button{
    border-radius: 3px;
  }
  .home_page{
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  
  
